.card-container{
    width: 21rem;
    border-radius: 0.6rem;
    box-shadow: 5px 10px 10px 5px #999;
    flex-direction: column;
    display: inline-flex;
    margin: 1.1rem;
    background-color: white;
    height: fit-content;
}
.car-img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    display: flex;
}
.car-title,
.card-description{
    margin: 0.5rem 5%;
}
